.LinkButton,
.LinkButton-special {
  height: 100%;
  width: 100%;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.1s ease-in-out;
}

.LinkButton-special {
  color: rgba(4, 255, 171, 1);
  border: 2px solid rgba(4, 255, 171, 1);
}

.LinkButton:hover {
  background: rgba(147, 147, 147, 0.15);
  color: rgba(4, 255, 171, 1);
}

.LinkButton-special:hover {
  background-color: rgba(4, 255, 171, 1);
  color: black;
}
