.Navbar {
  width: 100%;
  height: 12vh;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  /* position: absolute;
  z-index: 2; */
}

.Navbar-open {
  width: 100%;
  height: 12vh;
  background-color: #000017;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.483);
  transition: all 0.3s ease-in-out;
}

.Navbar-container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-logo {
  width: 30%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.Navbar-logo > h1 {
  color: rgba(4, 255, 171, 1);
}

.Navbar-links {
  width: 40%;
  height: 100%;
  /* background-color: blueviolet; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-links-logout {
  width: 40%;
  height: 100%;
  /* background-color: blueviolet; */
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
}

.Navbar-link {
  /* background-color: burlywood; */
  height: 60%;
  width: 20%;
  /* padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.Logout-button {
  height: 100%;
  width: 100%;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.1s ease-in-out;
}

.Logout-button:hover {
  background: rgba(147, 147, 147, 0.15);
  color: rgba(4, 255, 171, 1);
}
