.Login {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-container {
  width: 90%;
  height: 100%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Login-left {
  width: 45%;
  height: 100%;
  /* background-color: chartreuse; */
  position: relative;
}

.Login-right {
  width: 45%;
  height: 100%;
  /* background-color: chartreuse; */
  margin-top: 20em;
}
.headerLogin {
  text-size-adjust: 150px;
  color: whitesmoke;
  align-self: center;
  margin: 0px 0px 50px 160px;
}
input {
  margin-top: 6px;
  width: 72%;
  height: 50px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 31px;
  transition: 250ms ease-in-out;
}

button {
  margin-top: 6px;
  width: 72%;
  height: 50px;
  padding: 0px 125px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgba(4, 255, 171, 1);
  border: 2;
  border-color: rgba(4, 255, 171, 1);
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 31px;
  opacity: 1;
}

.buttonLogin {
  /* color: #e5e5e5; */
  /* background-color: rgba(4, 255, 171, 1);
  color: #000017; */
  background: rgba(147, 147, 147, 0.15);
  color: rgba(4, 255, 171, 1);
}
.buttonLogin:hover {
  background-color: rgba(4, 255, 171, 1);
  color: #000017;
}
